.item_outter{
    border-bottom: 1px solid #a9a8a84b;
    
}

.channel_list_item{

    width: 100%;
    height: 40px;
    box-sizing: border-box;

    padding: 0 10px 0 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.channel_list_item_faded{
    width: 100%;
    height: 40px;
    box-sizing: border-box;

    padding: 0 10px 0 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    opacity: 0.3;
}

.channel_item_name_cover{
    display: flex;
    align-items: center;
    gap: 10px;
}

.channelLogo{
    width: 20px ;
    height: 20px;
    object-fit: contain;
}

.channel_item_devices{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.device_little_block{
    height: 100%;
    width: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.tv_icon_class{
    width: 15px;
    height: 15px;
}

.desktop_icon_class{
    height: 11px;
    width: 16px;
}

.mobile_icon_class{
    height: 13px;
    width: 8px;
}