.close_icon{
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 20px;

    width: 27px;
    height: 27px;

    cursor: pointer;
}

.channels_modal_opened{
    height: calc(100vh - 100px);
    width: 100%;
  
    -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box !important;
  
    position: fixed;
    bottom: 0;
    z-index: 6;
  
    overflow: hidden;
  
  
    background-color: #191918;
  
    padding-top: 20px;
    padding-left: 85px;
    padding-right: 85px;
  
    transition: all 0.4s ease;
}

.channels_modal_closed{
    height: 0px;
    width: 100%;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box !important;

    background-color: #000;

    position: fixed;
    bottom: 0;
    z-index: 6;

    overflow: hidden;

    padding-left: 85px;
    padding-right: 85px;

    transition: all 0.4s ease;

}

.subscribe_prices{
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    gap: 10px;

    width: 100%;
    height: calc(100% - 48px);

    padding-right: 10px;
    padding-left: 10px;

    overflow-y: scroll;
    overflow-x: hidden;
}

.subscribe_prices_addon{
    justify-content: flex-start;
}

.choosePackage{
    font-family: "bpg square banner caps";
    color: #fff;
    text-align: center;
    font-size: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    margin-bottom: 20px;
}

.packageName1,
.packageName2{
    cursor: pointer;
    color: rgb(237, 0, 0);
}

.inactive{
    opacity: 0.4;
    color: #fff;
}

.subscribe_prices::-webkit-scrollbar{
    width: 5px;
    background-color: #A9A8A8;
}

.subscribe_prices::-webkit-scrollbar-thumb{
    width: 10px;
    height: 1px;
    border-radius: 10px;
    background-color: #272523;
}

.channelColumn{
    position: relative;
    width: 290px;
    -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box !important;
}

.channel_list_inModal{
    margin-top: 115px;
    color: white;
    font-family: "BPG Square Banner Caps";
    overflow: hidden;
    position: relative;
}

.price_block{
    width: 290px;
    position: fixed;
    z-index: 2;
    background-color: #373534;
    -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box !important;
}

.price_block_upper{
    box-sizing: border-box;
    width: 100%;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "BPG Square Banner Caps";
    font-size: 20px;
    color: #fff;
    background-color: #373534;
}

.price_block_below{
    box-sizing: border-box;
    font-family: 'BPG Arial';
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 70px;

    padding-left: 10px;
    padding-right: 10px;

    background-color: #272523;
}

.gap{
    gap:10px
}

.channels_and_title{
    display: flex;
    align-items: center;
    gap: 8px;
}

.channel_number{
    font-family: "BPG Square Banner Caps";
    font-size: 28px;

    color: #fff;

}

.channels_name{
    font-family: "BPG Square Banner Caps";
    font-size: 16px;

    color: #fff;
}

.channels_function{
    font-family: "BPG Square Banner Caps";
    font-size: 11px;

    color: #8d8d8d;
}

.channels_price_perMonth{
    display: flex;
    align-items: flex-end;
    gap: 8px;
}

.price_inGel{
    display: flex;
    align-items: flex-end;
}

.gel{
    font-family: "BPG Square Banner Caps";
    font-size: 28px;

    color: #fff;
}

.gel_symbol{
    font-family: "BPG Square Banner Caps";
    font-size: 16px;
    margin-bottom: 3px;
    color: #fff;
}

.per_month{
    font-family: "BPG Square Banner Caps";
    font-size: 18px;
    margin-bottom: 3px;
    color: #A9A8A8;
}

.item_outter{
    border-bottom: 1px solid #a9a8a84b;
    
}

.channel_list_item{

    width: 100%;
    height: 40px;
    box-sizing: border-box;

    padding: 0 10px 0 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.channel_list_item_faded{
    width: 100%;
    height: 40px;
    box-sizing: border-box;

    padding: 0 10px 0 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    opacity: 0.3;
}

.channel_item_name_cover{
    display: flex;
    align-items: center;
    gap: 10px;
}

.channelLogo{
    width: 20px ;
}

.channel_item_devices{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.device_little_block{
    height: 100%;
    width: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1500px) {

    .addonColumn{
        margin-left: 300px;
    }
}

@media (max-width:1250px) {
    
    .subscribe_prices{
        flex-wrap: wrap;
        justify-content: unset;
        gap: 20px;
    }
    .price_block{
        position: absolute;
    }

    .channelColumn{
        margin: 0 auto 50px auto;
    }
}

@media (max-width:800px) {
    .subscribe_prices{
        display: block;
        padding: 5px;
        margin-top: 25px;
    }

    .choosePackage{
        margin-bottom: 0px;
        font-size: 18px;
        margin-top: 25px;
    }

    .channelColumn{
        position: relative;
        width: 100%; 
        box-sizing: border-box;
        padding: 0 10px 0 10px;
    }

    .price_block{
        width: calc(100% - 20px);
        position: absolute;
        z-index: 2;
        background-color: #373534;
    }

    .channels_modal_opened{
          
            padding-top: 0px;
            padding-left: 10px;
            padding-right: 10px;
          
            transition: all 0.2s ease;
    }
    
    .channel_list_inModal{
        margin-top: 0px;
        padding-top: 115px;
    }
}

.displayNone{
    display: none;
}