.close_icon{
    position: absolute;
    right: 20px;
    top: 20px;

    width: 27px;
    height: 27px;

    cursor: pointer;
}


.subscribe_prices{
    box-sizing: border-box;
    width: 100%;
    height: 135px;
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: calc(100% - 40px);

    padding-right: 10px;
    padding-left: 10px;

    overflow-y: scroll;
    overflow-x: hidden;
}

.subscribe_prices::-webkit-scrollbar{
    width: 5px;
    background-color: #A9A8A8;
}

.subscribe_prices::-webkit-scrollbar-thumb{
    width: 10px;
    height: 1px;
    border-radius: 10px;
    background-color: #272523;
}

.price_block{
    width: 395px;
    position: fixed;
    z-index: 2;
}

.price_block_upper{
    box-sizing: border-box;

    width: 100%;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "BPG Square Banner Caps";
    font-size: 20px;
    color: #fff;
    background-color: #373534;
}

.price_block_below{
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 395px;
    height: 90px;

    padding-left: 10px;
    padding-right: 10px;

    background-color: #272523;
}

.channels_and_title{
    display: flex;
    align-items: center;
    gap: 8px;
}

.channel_number{
    font-family: "BPG Square Banner Caps";
    font-size: 37px;

    color: #fff;

}

.channels_name{
    font-family: "BPG Square Banner Caps";
    font-size: 18px;

    color: #fff;
}

.channels_function{
    font-family: "BPG Square Banner Caps";
    font-size: 13px;

    color: #8d8d8d;
}




.channels_price_perMonth{
    display: flex;
    align-items: flex-end;
    gap: 8px;
}

.price_inGel{
    display: flex;
    align-items: flex-end;
}

.gel{
    font-family: "BPG Square Banner Caps";
    font-size: 30px;

    color: #fff;
}

.gel_symbol{
    font-family: "BPG Square Banner Caps";
    font-size: 18px;
    margin-bottom: 3px;
    color: #fff;
}

.per_month{
    font-family: "BPG Square Banner Caps";
    font-size: 18px;
    margin-bottom: 3px;
    color: #A9A8A8;
}


.channel_list_inModal{
    margin-top: 135px;
    color: white;
    font-family: "BPG Square Banner Caps";
}


.item_outter{
    border-bottom: 1px solid #a9a8a84b;
    
}

.channelColumn{
    position: relative;
    width: 395px;
}

.channel_list_item{

    width: 100%;
    height: 40px;
    box-sizing: border-box;

    padding: 0 10px 0 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.channel_list_item_faded{
    width: 100%;
    height: 40px;
    box-sizing: border-box;

    padding: 0 10px 0 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    opacity: 0.3;
}

.channel_item_name_cover{
    display: flex;
    align-items: center;
    gap: 10px;
}

.channel_item_devices{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.device_little_block{
    height: 100%;
    width: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}