.footerBanner{
    box-sizing: border-box;
    width: 100%;
    height: 190px;
    margin-bottom: 70px;

    position: absolute;
    bottom: 0;
    left: 0;

    background-image: url('../../components/images/tvbox_cover.webp');
    background-size: cover;
    background-position: center;
    background-color: #000;
}

.footerBanner_inner{
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;
}

.banner_block{
    font-family: "bebas";
    color: #fff;
    font-size: 26px;
    font-weight: 600;

    display: flex;
    align-items: center;
    gap: 20px;
}

.banner_links{
    font-family: "BPG Square Banner Caps";
    font-size: 18px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.banner_links_inner{
    display: flex;
    align-items: center;
    gap: 5px;
}

@media (max-width:800px) {
    .footerBanner{
        height: 170px;
        flex-direction: column;
        margin-bottom: 0;
        gap: 35px;

        padding: 50px 0 50px 0;
    }
    .footerBanner_inner{
        width: 100%;
        height: 100%;
    
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 15px;
    }
    
    .banner_icons{
        display: none;
    }
}