.other_device_title{
    font-family: "BPG Square Banner Caps";
    font-size: 24px;
}

.redWarning{
    color: red;
    font-weight: 500 !important;
}

.centerDiv{
    justify-content: center !important;
}