.firstSection_otherBox{
    width: 100%;
    height: 100vh;

    background-image: url("../../components/images/box_back.webp");
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 130px;
    overflow-x: hidden;
}

.other_device_title{
    font-family: "BPG Square Banner Caps";
    font-size: 24px;
}

.redWarning{
    color: red;
    font-weight: 500 !important;
}

.centerDiv{
    justify-content: center !important;
}
