.devicePage{
    position: relative;
    padding-bottom: 400px;
}
.devicePage_cover{
    width: 100%;
    height: 330px;

    background-image: url('../components//images/box_devicePage.webp');
    background-size: cover;
    background-position: center;
}

@media (max-width:800px) {
    .devicePage{
        padding-bottom: 250px;
    }
}