*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "BPG Arial";
  src: url("./components/fonts/BPG\ Arial.ttf");
}

@font-face {
  font-family: "BPG Square Banner Caps";
  src: url("./components/fonts/bpg\ square\ banner\ caps.ttf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  color: inherit;
  text-decoration: none;
}


  .st0{fill:#BB2327}
	.st1{fill:#333333;}
	.st2{opacity:0.92;fill:#333333;enable-background:new    ;}
	.st3{fill:#FFFFFF;}
	.st4{font-family:'Bebas';}
	.st5{font-size:17.7628px;}

  .tvboxsxvg{
    margin-top: 73px;
    width: 166px;
    height: 150px;
  }

  .channels_modal_closed{
    height: 0px;
    width: 100%;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box !important;

    background-color: #000;

    position: absolute;
    bottom: 0;
    z-index: 6;

    overflow: hidden;

    padding-left: 85px;
    padding-right: 85px;

    transition: all 0.2s ease;

}

.channels_modal_opened{
  height: calc(100vh - 100px);
  width: 100%;

  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box !important;

  position: absolute;
  bottom: 0;
  z-index: 6;

  overflow: hidden;


  background-color: #000;

  padding-top: 20px;
  padding-left: 85px;
  padding-right: 85px;

  transition: all 0.2s ease;
}

.displayNone{
  display: none;
}